<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxl.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.cxl.model.Product">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PRICE" property="price" jdbcType="DECIMAL"/>
        <result column="IS_ENABLE" property="isEnable" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, PRICE, IS_ENABLE
    </sql>

    <!-- 查询产品列表 @by xiaolong-->
    <select id="selectProductList" resultType="com.cxl.model.vo.ProductVO">
        select
            ID id,
            NAME name,
            PRICE price
        from
            tbl_product
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_product
        where ID = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tbl_product
        where ID = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.cxl.model.Product">
        insert into tbl_product (ID, NAME, PRICE,
          IS_ENABLE)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
          #{isEnable,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.cxl.model.Product">
        insert into tbl_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="price != null">
                PRICE,
            </if>
            <if test="isEnable != null">
                IS_ENABLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cxl.model.Product">
        update tbl_product
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=DECIMAL},
            </if>
            <if test="isEnable != null">
                IS_ENABLE = #{isEnable,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cxl.model.Product">
        update tbl_product
        set NAME = #{name,jdbcType=VARCHAR},
          PRICE = #{price,jdbcType=DECIMAL},
          IS_ENABLE = #{isEnable,jdbcType=INTEGER}
        where ID = #{id,jdbcType=INTEGER}
    </update>
</mapper>